
<html>
<head>
	<title>Gossips</title>
</head>
<body>
	<h1>Bienvenue :)</h1>

	<p><h2>Voici la page du potin n :</h2></p>
       <p>Author :<br/>
         a balance :</p>
       <p>Retour à la page d'accueil des potins <a href ='/'>par ici</a>.</p>

 </body>
	
</html>